body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.col a {
    text-decoration: none;
    transition: 0.5s;
    font-style: italic;
    font-size: large;
    color: rgb(170, 135, 39);
}

a:hover {
    text-decoration: underline;
    transition: 0.5s;
    color: rgb(114, 89, 21);

}

ul{
list-style-type: none;
}

.logo {
    height: 7em;
    width: 7em;
}

.colornavfooter{
background-color: rgb(211, 211, 71);
}

.sectionhome{
height: 50em;
}
#footercenter{
border-left:1px solid black;
border-right:1px solid black;
}
.map{
height: 9em;
width: 9em;
}