body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;


}

.col a {
    text-decoration: none;
    transition: 0.5s;
    font-style: italic;
    font-size: large;
    color: rgb(170, 135, 39);
}

a:hover {
    text-decoration: underline;
    transition: 0.5s;
    color: rgb(114, 89, 21);

}

ul {
    list-style-type: none;
}


.logo {
    width: 9em;
    height: 9em;
}

.colornavfooter {
    background-color: rgb(255, 240, 191);
}

#content {
    background-color: rgb(214, 209, 166);
}

/* #sectionhome {

   
} */

.indexcontent {
    /* background-color: aquamarine; */
    margin-top: 1em; 

}

#indeximgquienessomos{
height: 10em;
width: 20em;
}
#indexcontenttop{
margin-bottom: 10em;
}
#indexcontenttopright{
    border-left: solid rgba(0, 0, 0, 0.342);

}
#indexcontentmid{
    margin-bottom: 10em;

}
#indexcontentmidright{
    border-left: solid rgba(0, 0, 0, 0.342);

}



#footercenter {
    border-left: solid rgba(0, 0, 0, 0.342);
    border-right: solid rgba(0, 0, 0, 0.342);
    border-width: 0.1px;
}

.underlined {
    text-decoration: underline;
}